

* {
     font-family: Amatic SC, sans-serif;
     color: #521942;
     text-align: center;
}
 body {
     width: 90%;
     margin: 0 auto;
     background-image: url("https://rresnik2.github.io/DEV109/midterm/FreeVector-Geometric-Vector-Pattern.jpg")
}
 #content {
     overflow: auto;
}
 #nav, #feature, #footer {
     margin: 1%;
}
 .column1, .column2, .column3 {
     background-color: #787878;
     width: 31.3%;
     float: left;
     margin: 1%;
}
 .column3 {
     margin-right: 0%;
}

 li {
     display: inline;
     padding: 0.5em;
}

 #nav, #footer {
     padding: 0.5em 0;
}
 #feature, .article {
     height: 10em;
     margin-bottom: 1em;
}
 .column1 {
     background-color: red;
     color: white;
}
 .column2 {
     background-color: green;
     color: white;
}
 .column3 {
     background-color: coral;
     color: white;
}
 #nav {
     background-color: lightblue;
     color: white;
}
 #footer {
     background-color: yellow;
     color: black;
}
 #header {
     margin-top: 1em;
}
#header2 {
  background-color: pink;
     color: black;
}
#content2 {
  background-color: pink;
  overflow: auto;
  padding: .5em 0;
}
#feature {
     background-color: pink;
     color: black;
     padding: .5em 0;
}
#projDscrpt li {
  overflow: auto;
  width: 18%;
  
}
